<title>Home</title>
<link rel="stylesheet" type="text/css" href="static/basic.css">
<h1>Welcome home, {{name}}!</h1>

<p>My super amazing Python app is serving this.</p>
<a href="hello/Sam"> Check out this page</a>
<p></p>
<img src = "../static/myimg.jpg" style = width:30%></img>

<p></p>
<a href="form">Click to fill out a form for a quote</a>
<p></p>
<a href="https://www.youtube.com/watch?v=GLRaQG9X7CE">Click to watch a 39 year old LeBron win a game</a>

<p></p>
<a href="visitors">Check out your visitors</a>
<p></p>
<a href = visitors.html>Visitors</a>